html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr,th, td,article, aside, canvas, details, embed, figure, figcaption, footer,header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General styles */

body{
	background-color: #ffffff;
}

p{
	font-family: poppins;
	font-weight: 300;
	font-size: 20px;
	color: #2C2B2B;
}

h1,h2,h3,h4{
	font-family: poppins;
	font-weight: 600;
	font-size: 40px;
	color: #468289;
}

a{
	text-decoration: none;
	font-size: 20px;
	font-family: poppins;
	font-weight: 300;
	color: #2C2B2B;
	text-align: center;
}

button{
	border-radius: 20px;
	background-color: #468289;
	border: 0px	;
	width: 200px;
	height: auto;
	padding: 10px;
	box-shadow: #737373 2px 4px 4px;
}

.logo{
	width: 150px;
	height: 75px;
}

/* Header */

#header{
	width: 1425px;
	height: 100px;
	background-color: #ffffff;
	box-shadow: #737373 0px 4px 4px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	padding: 20px;
	position: sticky;
	top: 0;
}

div.logo a img{
	width: 150px;
	height: 75px;
}

.nav{
	width: 600px;
	height: 50px;
}

.nav_links{
	display: block;
	/* display: flex; */
}

.nav_links li{
	background-color: #468289;
	width: auto;
	height: auto;
	border: #468289 solid 5px;
	border-radius: 10px;
	width:fit-content;
	padding: 5px;
	margin: 10px;
	overflow: hidden;
	display: inline-block;
}

.nav_links li a{
	color: #ffffff;
	font-size: 15px;
}

.insta_icon img, .face_icon img{
	width: 40px;
	height: 40px;
}

/* Footer */

#footer{
	width: 1425px;
	height: 150px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	padding: 20px;
	background-color: #468289;
	margin: 10px 0px 0px;
}

.copyright{
	padding: 10px;
}

.information{
	padding: 10px;
}

h5{
	font-family: poppins;
	font-weight: 300;
	font-size: 15px;
	color: #ffffff;
}

.logo_footer{
	width: 280px;
	height: 150px;
	padding: 10px;
}

.logo_footer img{
	width: 270px;
	height: 140px;
}

/* Landing page */

#banner_landingPage{
	background-color: #FCC705 ;
	width: 1425px;
	height: auto;
	margin: 0px 0px -10px 0px;
	padding: 50px;
	display: flex;

}

.hooker{
	padding: 10px;
	width: 687.5px;
	height: auto;
	margin: 20px;
}

.hooker .title{
	margin: 100px 0px 50px;
	text-align: center;
}

.title h1{
	color: #ffffff;
	font-weight: 800;
	font-size: 60px;
}

.hooker .text{
	margin: 10px 0px 20px;
	text-align: center;
}

.hooker .button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0px 0px;
}

.button a{
	color: #ffffff;
	font-weight: 600;
}

.images{
	width: 687.5px;
	height: auto;
}

.images .image_landingPage{
	width: 400;
	height: 400;
	border-radius: 100%;
	background-color: #FCC705 ;
	overflow: hidden;
	z-index: 1;
}

.images .image_landingPage img{
	width: auto;
	height: auto;
}

.images .image_landingPage_2 {
	width: 100;
	height: 100;
	border-radius: 100%;
	background-color: #FCC705;
	overflow: hidden;
	position: absolute;
	bottom: -65px;
	left: 500px;
	z-index: 2;
}

.images .image_landingPage_2 img{
	width: auto;
	height: auto;
}

/*about*/

#about{
	display: flex;
	margin: 40px 50px 20px;
}

.us{
	width: 660px;
	height: auto;
}

.board {
	display: flex;
	margin: 20px 10px 80px;
	height: auto;
}

.image_team{
	width: 140px;
	height: 206px;
	margin: 10px auto;
	box-shadow: #737373 2px 4px 4px;
}

.board .image_team h4{
	display: inline-block;
	font-size: 20px;
	text-align: center;
	margin: 10px 0px 0px;
}

.us_history{
	margin: 40px 10px 40px;
}

.us_history h2{
	display: block;
	margin: 0px 0px 10px;
}

.us_history p{
	text-align: justify;
}

.purpose {
	width: 660px;
	height: auto;
	padding: 20px;
}

.mission_statement{
	margin: 50px 0px 70px;
}

.mission_statement .text, .vision_statement .text{
	border: #FCC705 solid 4px;
	border-radius: 70px;
	padding: 15px;
	margin: 5px 0px 0px;
	box-shadow: #737373 2px 4px 4px;
}

.text p{
	text-align: center;
}

.vision_statement h3{
	text-align: right;
}

/* servicios */

#productos{
	padding: 30px;
	width: 1425px;
	height: auto;
}

.list_services{
	background-color: #ffffff;
	padding: 0px 30px;
}

.list_services ol li{
	width: auto;
	height: auto;
	background-color: #468289;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
	margin: 5px;
}

.list_services ol{
	position: fixed;
}

.list_services ol li a{
	font-family: poppins;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
}

.title_servicios {
	margin: 30px 0px 50px;
}

.title_servicios  h1{
	text-align: center;
	font-weight: 800;
	font-size: 60px;
	color: #ffffff;
	-webkit-text-stroke: 2px #468289;
	text-shadow: 1px 2px 2px #737373;
}

.services{
	display: flex;
	padding: 30px;
	margin: opx 0px;
	justify-content: center;
	align-items: center;
}

.services .title{
	width: 410px;
	height: auto;
	padding: 0px 30px;
	margin: 0px 10px 0px;
}

.description{
	width: 890px;
	height: auto;
	padding: 30px;
	margin: 0px 0px 0px 10px;
}

#banners{
	border: #FCC705 10px solid;
	border-bottom: none;
	border-radius: 250px 0px 0px 0px;
}

#senalizacion{
	border: #FCC705 10px solid;
	border-top: none;
	border-bottom: none;
}

#cajasDeLuz{
	border: #FCC705 10px solid;
	border-top: none;
	border-radius: 0px 0px 250px 0px;
}

.services .title h2{
	color: #468289;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
}

.image_services{
	width: 450px;
	height: 330px;
	overflow: hidden;
	margin: 0px auto 30px;
	border-radius: 20px;
}

.image_services img{
	width: 500px;
	height: 340px;
}

.description p{
	display: block;
	padding: 0px 20px;
	text-align: justify;
	color: #2C2B2B;
}

/* Galería */

#galery{
	width: 1425px;
	height: auto;
	padding: 30px;
}

#galery .title h1{
	color: #FCC705;
	text-align: center;
	text-shadow: #737373 1px 2px 2px;
}

.photos{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 30px 0px 10px;
}

.photos .category{
	border: #468289 2.5px solid;
	width: 100px;
	height: 25px;
	border-radius: 100px;
}

.photos .category h3{
	font-size: 20px;
	color: #2C2B2B;
	text-align: center;
}

/* contact */

.formBox{
	background-image: url(../imagenes/fondo_Contacto.png);
	width: 1425px;
	height: auto;
	padding: 50px 0px;
}

form{
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-group {
	margin-bottom: 10px;
}

input,
button, textarea{
  padding: 5px;
  font-family: poppins;
  font-size: 12.5px;
		border-radius: 10px;
}

select {
	border-radius: 10px;
	font-family: poppins;
	font-weight: 400;
	font-size: 12.5px;
	color: #2C2B2B;
	width: auto;
}

fieldset{
	width: 800px;
	height: auto;
}

.form-title{
	margin: 20px;
}

label{
	font-family: poppins;
	font-size: 20px;
	font-weight: 500;
	color: #2C2B2B;
}

.submit input{
	border-radius: 20px;
	background-color: #FCC705;
	border: 0px	;
	width: 200px;
	height: auto;
	padding: 10px;
	box-shadow: #737373 2px 4px 4px;
	font-family: poppins;
	color: #2C2B2B;
	font-weight: 500;
	font-size: 20px;
}










