* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General styles */

body{
	background-color: #ffffff;
}

p{
	font-family: poppins;
	font-weight: 300;
	font-size: 20px;
	color: #2C2B2B;
}

h1,h2,h3,h4{
	font-family: poppins;
	font-weight: 600;
	font-size: 40px;
	color: #468289;
}

a{
	text-decoration: none;
	font-size: 20px;
	font-family: poppins;
	font-weight: 300;
	color: #2C2B2B;
	text-align: center;
}

button{
	border-radius: 20px;
	background-color: #468289;
	border: 0px	;
	width: 200px;
	height: auto;
	padding: 10px;
	box-shadow: #737373 2px 4px 4px;
}


.root{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

/* Header */

#header{
	width: 100%;
	height: 100px;
	background-color: #ffffff;
	box-shadow: #737373 0px 4px 4px;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 3;
}

.header_div{
	width: 100%;
	max-width: 79.2rem;
	height: 100%;
	max-height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.logo{
	width: 135px;
	height: 60px;
}

div.logo a img{
	width: 135px;
	height: 60px;
}

.nav{
	/* width: 100%;
	height: 100%; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
 max-width: 79.2rem;
 height: 100%;
 max-height: 75px;
	margin: 0 auto;
}

.menu-btn{
	font-size: 20px;
	color: #468289;
	cursor: pointer;
	display: none;
}

.nav_links{
	/* display: block; */
	display: flex;
	justify-content: space-between;
}

.nav_links li{
	background-color: #468289;
	width: auto;
	height: auto;
	border: #468289 solid 5px;
	border-radius: 10px;
	width:fit-content;
	padding: 5px;
	margin: 10px;
	overflow: hidden;
}

.nav_links li a{
	color: #ffffff;
	font-size: 15px;
}

.insta_icon img, .face_icon img{
	width: 40px;
	height: 40px;
}

/* Footer */

#footer{
	width: 100%;
	height: 150px;
	padding: 20px;
	background-color: #468289;
	margin: 10px 0px 0px;
	overflow: hidden;
	z-index: 2;
}

.footer_div{
	width: 100%;
	max-width: 79.2rem;
	max-height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.copyright{
	padding: 10px;
}

.information{
	padding: 10px;
}

h5{
	font-family: poppins;
	font-weight: 300;
	font-size: 15px;
	color: #ffffff;
}

.logo_footer{
	width: 280px;
	height: 120px;
	padding: 10px;
}

.logo_footer img{
	width: 240px;
	height: 110px;
}

/* Landing page */

.main{
	flex-basis:auto;
	flex-shrink: 0;
	flex-grow: 1;
	display: block;
}

.banner_landingPage{
 background-color: #FCC705;
	margin: 0px 0px -10px 0px;
}

.banner_content{
	background-color: #FCC705 ;
	width: 100%;
	height: auto;
	max-width: 79.2em;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hooker{
	padding: 10px;
	width: 50%;
	height: auto;
	margin: 20px;
}

.hooker .title{
	margin: 100px 0px 50px;
	text-align: center;
}

.title h1{
	color: #ffffff;
	font-weight: 800;
	font-size: 60px;
}

.hooker .text{
	margin: 10px 0px 20px;
	text-align: center;
}

.hooker .button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0px 0px;
}

.button a{
	color: #ffffff;
	font-weight: 600;
}

.images{
	width: 50%;
	height: auto;
	float: left;
	position: relative;
	padding: 20px;
}

.images .image_landingPage{
	width: 550px;
	height: 550px;
	border-radius: 100%;
	background-color: #FCC705 ;
	overflow: hidden;
	z-index: 1;
}

.images .image_landingPage img{
	width: 100%;
	height: 100%;
}

.images .image_landingPage_2 {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background-color: #FCC705;
	overflow: hidden;
	position: absolute;
	bottom: 15px;
	left: 60%;
	z-index: 2;
}

.images .image_landingPage_2 img{
	width: 100%;
	height: 100%;
}

/*about*/

.about_section{
	width: 100%;
	height: auto;
}

.about_content{
	max-width: 79.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.us{
	width: 50%;
	height: auto;
}
.us .title_us{
	padding: 20px;
}

.board {
	display: flex;
	/* margin: 20px 10px 80px; */
	height: auto;
}

.image_team{
	width: 30%;
	height: 100%;
	margin: 10px auto;
}

.image_team img{
 box-shadow: #737373 2px 4px 4px;
	width: 100%;
	height: 60%;
}

.board .image_team h4{
	width: 100%;
	height: 40%;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	padding: 20px 0px;
}

.us_history{
	padding: 10px 0px 10px;
}

.us_history h2{
	display: block;
	margin: 0px 0px 10px;
}

.us_history p{
	text-align: justify;
}

.purpose {
	width: 50%;
	height: auto;
	padding: 20px;
}

.mission_statement{
	margin: 50px 0px 70px;
}

.mission_statement .text, .vision_statement .text{
	border: #FCC705 solid 4px;
	border-radius: 70px;
	padding: 15px;
	margin: 5px 0px 0px;
	box-shadow: #737373 2px 4px 4px;
}

.text p{
	text-align: center;
}

.vision_statement h3{
	text-align: right;
}

/* servicios */

#productos{
	padding: 30px;
	width: 100%;
	max-width: 79.2rem;
	height: auto;
	margin: 0 auto;

}

.card-title{
	color: #FCC705;
	font-size: 30px;
}

.card_grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50% 50%;
	grid-template-areas: 
	"banner""Senalizacion"
	"cajaLuz""Otro"
	;
}

.card-body .btn{
	background-color: #468289;
	color: #f2f2f2;
}



.list_services{
	background-color: #ffffff;
	padding: 0px 30px;
}

.list_services ol li{
	width: auto;
	height: auto;
	background-color: #468289;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
	margin: 5px;
}

.list_services ol{
	position: fixed;
}

.list_services ol li a{
	font-family: poppins;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
}

.title_servicios {
	margin: 30px 0px 50px;
}

.title_servicios  h1{
	text-align: center;
	font-weight: 800;
	font-size: 60px;
	color: #ffffff;
	-webkit-text-stroke: 2px #468289;
	text-shadow: 1px 2px 2px #737373;
}

.services{
	display: flex;
	padding: 30px;
	margin: opx 0px;
	justify-content: center;
	align-items: center;
}

.services .title{
	width: 410px;
	height: auto;
	padding: 0px 30px;
	margin: 0px 10px 0px;
}

.description{
	width: 890px;
	height: auto;
	padding: 30px;
	margin: 0px 0px 0px 10px;
}

#banners{
	border: #FCC705 10px solid;
	border-bottom: none;
	border-radius: 250px 0px 0px 0px;
}

#senalizacion{
	border: #FCC705 10px solid;
	border-top: none;
	border-bottom: none;
}

#cajasDeLuz{
	border: #FCC705 10px solid;
	border-top: none;
	border-radius: 0px 0px 250px 0px;
}

.services .title h2{
	color: #468289;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
}

.image_services{
	width: 450px;
	height: 330px;
	overflow: hidden;
	margin: 0px auto 30px;
	border-radius: 20px;
}

.image_services img{
	width: 500px;
	height: 340px;
}

.description p{
	display: block;
	padding: 0px 20px;
	text-align: justify;
	color: #2C2B2B;
}

/* Galería */

#galery{
	width: 100%;
	max-width: 79.2rem;
	height: auto;
	padding: 30px;
	margin: 0 auto;

}

#galery .title h1{
	color: #FCC705;
	text-align: center;
	text-shadow: #737373 1px 2px 2px;
}

.carousel-caption{
	background-color: rgba(71, 75, 78, .5);
	border-radius: 40px;
}

.carousel-caption h5{
	color: #f2f2f2;
	font-family: poppins;
}

.carousel-caption p{
	color: #f2f2f2;
	font-family: poppins;
}

.photos{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 30px 0px 10px;
}

.photos .category{
	border: #468289 2.5px solid;
	width: 100px;
	height: 25px;
	border-radius: 100px;
}

.photos .category h3{
	font-size: 20px;
	color: #2C2B2B;
	text-align: center;
}

/* contact */

#form{
	width: 100%;
	max-width: 79.2rem;
	margin: 0 auto;
}

.formBox{
	background-image: url(../imagenes/fondo_Contacto.png);
	width: 100%;
	height: auto;
	padding: 50px 0px;
}

form{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.form-group {
	margin-bottom: 10px;
}

input,
button, textarea{
  padding: 5px;
  font-family: poppins;
  font-size: 12.5px;
		border-radius: 10px;
}

select {
	border-radius: 10px;
	font-family: poppins;
	font-weight: 400;
	font-size: 12.5px;
	color: #2C2B2B;
	width: auto;
}

fieldset{
	width: 800px;
	height: auto;
}

.form-title{
	padding: 10px;
}

label{
	font-family: poppins;
	font-size: 20px;
	font-weight: 500;
	color: #2C2B2B;
}

.submit input{
	border-radius: 20px;
	background-color: #FCC705;
	border: 0px	;
	width: 200px;
	height: auto;
	padding: 10px;
	box-shadow: #737373 2px 4px 4px;
	font-family: poppins;
	color: #2C2B2B;
	font-weight: 500;
	font-size: 20px;
}


/* Media querys */

/* mobile */

@media screen and (min-width:320px) and (max-width: 767px) and (orientation: landscape) {

	.nav .nav_links{
		top: 18vh;
	}

}

@media screen and (min-width:320px) and (max-width: 767px) {

	.root{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 75px auto 250px ;
		grid-template-areas: 
		 "header"
			"main"
			"footer"
		;
	}

/* header responsive */

	#header{
		width: 100%;
		height: 75px;
		padding:5px;
	}

	.header_div{
		grid-area: header;
		max-width: 30rem;
		height: 100%;
		overflow: hidden;
		justify-content: space-between;
	}
	.logo{
		max-height: 100%;
		align-self: flex-end;
	}

	div.logo a{
		width: 120px;
		height: 55px;
	}

	div.logo a img{
		width: 120px;
		height: 55px;
	}

	.menu-btn{
		display: block;
	}

	.nav_links{
		position: fixed;
		top: 8.5vh;
		left: 0;
		background-color: #f2f2f2;
		width: 100%;
		height: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		z-index: 4;
		transition: all 0.5s ease;
		transform: translateX(-100%);
	}

	.nav_links.active{
		transform: translateX(0);
	}

	
	.header_icon{
		display:none;
	}

	/* footer */

	#footer{
		grid-area: footer;
		width: 100%;
		height: 100%;
	}

	.footer_div{
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		max-height: fit-content;
	}

	.copyright{
		order: 1;
		width: 100%;
		height: 20%;
	}

	.copyright h5{
		text-align: center;
		font-size: 10px;
	}

	.logo_footer{
		width: 100%;
		height: 40%;;
		text-align: center;
	}

	.logo_footer img{
		width: 165px;
		height: 75px;

	}

	.footer_div .information{
		text-align: center;
  width: 100%;
		height: 40%;
	}

	.footer_div .information h5{
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
	}

 /* content pages */
	.main{
		grid-area: main;
		width: 100%;
		height: 100%;
	}

	/* index */

	.banner_content{
		flex-direction: column;
	}

	.banner_content .images{
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	.images .image_landingPage{
		width: 300px;
		height: 300px;
  text-align: center;
		margin: 0 auto;
	}

	.images .image_landingPage_2 {
		width: 150px;
		height: 150px;
		position: absolute;
		bottom: 15px;
		left: 55%;
		z-index: 2;
	}

	.hooker{
		width: 100%;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px;
	}

	.hooker .title{
		margin: 0px;
	}

	.hooker .title h1{
		font-size: 30px;
	}

	.hooker .text{
		margin: 0;
	}

	.hooker .text p{
  font-size: 16px;
	}

	.hooker .button{
		margin: 0;
	}

	/* about */

	.about_content{
		flex-direction: column;
		overflow: hidden;
	}

	.us{
		width: 100%;
		height: auto;
	}

	.us .title_us{
		text-align: center;
		padding: 10px;
	}

	.title_us h1{
		font-size: 30px;
	} 

	.us .board{
		margin: 0;
		width: 100%;
		height: auto;
	}

	.us .board .image_team{
		width: 30%;
		height: 100%;
	}

	.us .board .image_team h4{
		font-size: 16px;
	}

	.us_history{
		padding: 15px;
	}

	.us_history h2{
		font-size: 30px;
		text-align: center;
		margin: 0;
	 padding: 10px;
	}

	.us_history p{
		font-size: 16px;
	}

	.purpose{
		width: 100%;
		height: auto;
		padding: 10px;
	}
	
	.mission_statement{
		margin: 0;
		padding: 10px;
	}

	.mission_statement h3{
		font-size: 30px;
	}

	.mission_statement .text p{
		font-size: 16px;
	}

	.vision_statement{
		padding: 10px;
	}

	.vision_statement h3{
		font-size: 30px;
	}

	.vision_statement .text p{
		font-size: 16px;
	}

	/* servicios */

	.card_grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 
		"banner"
		"cajaLuz"
		"Otro"
		;
	}
	
	.title_servicios h1{
		font-size: 40px;
		-webkit-text-stroke: 1px #468289;
	}

	.card-title{
		font-size: 25px;
	}

	.card-text{
		font-size: 16px;
	}

	/* galeria */

	#galery .title h1{
		font-size: 30px;
	}

	/* Contacto */

	.form-title h1{
		font-size: 30px;
	}

	label{
		font-size: 16px;
	}

	.form-group p{
		font-size: 16px;
	}

	fieldset{
		background-color: rgba(240, 240, 240, 0.7);
		border-radius: 40px;
		padding: 20px;
	}
		


}

/* Tablet */

@media screen and (min-width:767px) and (max-width: 1023px) and (orientation: landscape) {
	
	.nav .nav_links{
		top: 18vh;
	}

}

@media  screen and (min-width: 767px) and (max-width: 1023px) {
	.root{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 75px auto 150px ;
		grid-template-areas: 
		 "header"
			"main"
			"footer"
		;
	}

/* header responsive */

	#header{
		width: 100%;
		height: 75px;
		padding:5px;
	}

	.header_div{
		grid-area: header;
		max-width: 30rem;
		height: 100%;
		overflow: hidden;
		justify-content: space-between;
	}
	.logo{
		max-height: 100%;
		align-self: flex-end;
	}

	div.logo a{
		width: 120px;
		height: 55px;
	}

	div.logo a img{
		width: 120px;
		height: 55px;
	}

	.menu-btn{
		display: block;
	}

	.nav_links{
		position: fixed;
		top: 6vh;
		left: 0;
		background-color: #f2f2f2;
		width: 100%;
		height: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		z-index: 4;
		transition: all 0.5s ease;
		transform: translateX(-100%);
	}

	.nav_links.active{
		transform: translateX(0);
	}

	
	.header_icon{
		display:none;
	}

	/* footer */

	#footer{
		grid-area: footer;
		width: 100%;
		height: 100%;
	}

	.footer_div{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		max-height: fit-content;
	}

	.copyright{
		order: 0;
		width: 100%;
		height: 100%;
		padding: 40px 0px;
	}

	.copyright h5{
		text-align: center;
		font-size: 10px;
	}

	.logo_footer{
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.logo_footer img{
		width: 165px;
		height: 75px;

	}

	.footer_div .information{
		text-align: center;
  width: 100%;
		height: 100%;
		padding: 20px 0px;
	}

	.footer_div .information h5{
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
	}

 /* content pages */
	.main{
		grid-area: main;
		width: 100%;
		height: 100%;
	}

	/* index */

	.banner_content{
		flex-direction: row;
		width: 100%;
		height: 100%;
	}

	.banner_content .images{
		width: 50%;
		height: auto;
		overflow: hidden;
	}

	.images .image_landingPage{
		width: 300px;
		height: 300px;
  text-align: center;
		margin: 0 auto;
	}

	.images .image_landingPage_2 {
		width: 150px;
		height: 150px;
		position: absolute;
		bottom: 15px;
		left: 55%;
		z-index: 2;
	}

	.hooker{
		width: 50%;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0;
		padding: 20px;
	}

	.hooker .title{
		margin: 0px;
	}

	.hooker .title h1{
		font-size: 30px;
	}

	.hooker .text{
		margin: 0;
	}

	.hooker .text p{
  font-size: 16px;
	}

	.hooker .button{
		margin: 0;
	}

	/* about */

	.about_content{
		flex-direction: column;
		overflow: hidden;
	}
	
	.us{
		width: 100%;
		height: auto;
	}
	
	.us .title_us{
		text-align: center;
		padding: 10px;
	}
	
	.title_us h1{
		font-size: 30px;
	} 
	
 .us .board{
		margin: 0;
		width: 100%;
		height: auto;
		max-width: 700px;
		margin: 0 auto;
	}
	
	.us .board .image_team{
		width: 30%;
		height: 100%;
	}
	
	.us .board .image_team h4{
		font-size: 16px;
	}
	
	.us_history{
		padding: 15px;
		width: 100% ;
		max-width: 800px;
		margin: 0 auto;
	}
	
	.us_history h2{
		font-size: 30px;
		text-align: center;
		margin: 0;
		padding: 10px;
	}
	
	.us_history p{
		font-size: 16px;
	}
	
	.purpose{
		width: 100%;
		height: auto;
		padding: 10px;
		max-width: 600px;
	}
		
	.mission_statement{
		margin: 0;
		padding: 10px;
	}
	
	.mission_statement h3{
		font-size: 30px;
	}
	
	.mission_statement .text p{
		font-size: 16px;
	}
	
	.vision_statement{
		padding: 10px;
	}
	
	.vision_statement h3{
		font-size: 30px;
	}
	
	.vision_statement .text p{
		font-size: 16px;
	}

	/* servicios */
	
	.title_servicios h1{
		font-size: 40px;
		-webkit-text-stroke: 1px #468289;
	}

	.card-title{
		font-size: 25px;
	}

	.card-text{
		font-size: 16px;
	}

	/* galeria */

	#galery .title h1{
		font-size: 40px;
	}

}