
// colors

$primary: #468289;
$secundary: #FCC705 ;
$base: #2C2B2B;
$bg: #ffffff;
$shadows: #737373;

// font-family

$font: poppins;

// medias

$min_mobile: 320px;
$max_mobile: 767px;
$min_tablet: 768px;
$max_tablet: 1023px;


